{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/css/styles.css' %}">
</head>
<body>
    <h1 style="color: red">Hello, welcome your first HTML page of Django</h1>
    <!--<img src="static/blogapp/images/pic1.png" alt="example-photo" width="400px" height="450px">-->

    <h1 id="demo">Hello, Django</h1>
    <button onclick="myFunc()">Change text</button>
    <p>This is homepage</p>
    

    <script src="{% static 'blogapp/js/testScript.js' %}"></script>

</body>
</html>






